[submodule "Uniswap V3/lib/forge-std"]
	path = Uniswap V3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Aave/lib/forge-std"]
	path = Aave/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
